body {
  margin: 0;
  display: flex;
  flex-flow: column;
  font-family: 'Roboto Slab', serif;
  background: url(../img/background1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.main-nav {
  margin: 0;
  display: flex;
  justify-content: center;
  transition: .3s;
}

.main-nav div {
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  line-height: inherit;
  transition: 0.5s;
  width: 150px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.main-nav div:before,
.main-nav div:after {
  content: attr(data-link);
  position: absolute;
  width: inherit;
  text-align: center;
  transition: .3s;
}

.main-nav div:before {
  top: 0;
  left: 0;
}

.main-nav div:after {
  top: 100%;
  left: 0;
  color: #fff;
}

.main-nav div:hover:before {
  top: -100%;
}

.main-nav div:hover:after {
  top: 0;
}

.main-nav:hover {
  background-color: rgba(0, 0, 0, 0.178);
  box-shadow: 0 0 20px #fff;
}

.main-contents {
  flex-grow: 1;
  display: grid;
}

.home,
.about,
.interest,
.contact {
  opacity: 0;
  animation-fill-mode: both;
  animation-name: slideShow;
  animation-duration: 2s;
}

.home {
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  justify-items: center;
  align-items: center;
}

.home p {
  font-size: 45px;
  color: white;
}

.fa-anchor {
  color: white;
}

.button {
  color: white;
  border: 2px solid white;
  padding: 10px;
  width: 600px;
  background-color: transparent;
  transition: .3s;
  border-radius: 10px;
}

.button:hover {
  background-color: #fff;
  color: black;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.introduction {
  align-self: top;
  justify-self: start;
  font-size: 2em;
}

.photo {
  justify-self: center;
  height: 400px;
  width: 300px;
}

.contact {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
}

.gitig a {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  font-size: 40px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  color: #000000;
}

.gitig a:before {
  content: '';
  position: absolute;
  width: inherit;
  height: 0;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.gitig a:hover:before {
  height: 100%;
}

.gitig a i {
  position: relative;
  transition: 0.3s;
}

.gitig a:hover i {
  transform: rotateY(360deg);
  color: #fff;
}

.gitig i {
  color: #000;
}

#phone {
  font-size: 2em;
  align-self: end;
}

#email {
  font-size: 2em;
  align-self: start;
}

.contact i {
  margin: 10px;
  cursor: pointer;
}

.interest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.interest i {
  transition: 0.5s;
}

.interest i:hover {
  transform: rotateY(350deg);
}

.copyright {
  color: white;
  text-align: center;
  bottom: 10px;
  width: 100%;
}

@keyframes slideShow {
  100% {
    opacity: 1;
  }
}
