html,
body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size)*.9);
}

h1 {
  color: #2574D0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

/* Game Board */

p {
  font-size: 3em;
}

#who-turn {
  text-align: center;
  border: 3px solid gold;
  border-radius: 10px;
  background-color: gold;
  width: 300px;
  text-transform: uppercase;
}

.board {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 0px auto;
  background-color: #14bdac;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 2px solid #461F00;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n+1) {
  border-left: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell.x:before,
.cell.x:after,
.cell.cell.circle:before {
  background-color: black;
}

.game.x .cell:not(.x):not(.circle):hover:before,
.game.x .cell:not(.x):not(.circle):hover:after,
.game.circle .cell:not(.x):not(.circle):hover:before {
  background-color: lightgrey;
}


.cell.x:before,
.cell.x:after,
.game.x .cell:not(.x):not(.circle):hover:before,
.game.x .cell:not(.x):not(.circle):hover:after {
  content: '';
  width: calc(var(--mark-size)*.15);
  height: var(--mark-size);
  position: absolute;
}

.cell.x:before,
.game.x .cell:not(.x):not(.circle):hover:before {
  transform: rotate(45deg);
}

.cell.x::after,
.game.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle:before,
.cell.circle:after,
.game.circle .cell:not(.x):not(.circle):hover:before,
.game.circle .cell:not(.x):not(.circle):hover:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle:before,
.game.circle .cell:not(.x):not(.circle):hover:before {
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
}

.cell.circle:after,
.game.circle .cell:not(.x):not(.circle):hover:after {
  width: calc(var(--mark-size)*.7);
  height: calc(var(--mark-size)*.7);
  border-radius: 50%;
  background-color: #14bdac;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

/* Message */

.winning-message,
.start-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button,
.start-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
  margin-top: 50px;
}

.winning-message button:hover,
.start-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show,
.start-message.show {
  display: flex;
}

.blinking {
  animation: blinkingText 0.5s infinite;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }

  0% {
    color: #000;
  }

  0% {
    color: transparent;
  }

  0% {
    color: transparent;
  }

  0% {
    color: #000;
  }
}
